extends layout

block content
  h1= title
  p Welcome to #{title}
  input#input-name(type='text', placeholder='Enter your name')
  br
  br
  input#input-task(type="text", placeholder="Enter your task")
  br
  br
  button#submit-data() Submit
  br
  br
  input#search-name(type="text", placeholder="Search by name")
  br
  br
  button#search() Search

