div(id="search-results")
    p#search-results-message
    button(id="delete-user") Delete User
    p#delete-user-message
    div#search-result
    //h1 Search Results
    //br
    //br
    //if task && task.length > 0
        p Name: #{name}
        p Todos:
        each todo in task
            p= todo
    //else
        p Name: #{name}
        p No todos found