body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#submit-data {
  background-color: rgb(226, 43, 189);
  color: white;
}

#input-name {
  width: 300px; 
  height: 50px;
}

#input-task {
  width: 300px; 
  height: 50px;
}

#search-name {
  width: 300px; 
  height: 50px;
}

#search {
  background-color: blueviolet;
  color: white;
}